/*Colors*/
$white: #fff;
$black: #000;
$black2: #171C22;
$black3: #232323;

$bord: #E4E9F0;

$act: #fabaa7;
$act2: #9A6E62;
$act3: #9F6838;

$bg: #F0F4F4;

/*Styles*/
$font-family: 'GothamPro', sans-serif;