/*Colors*/
$white: #fff;
$black: #000;
$black2: #171C22;
$black3: #232323;

$bord: #E4E9F0;

$act: #fabaa7;
$act2: #9A6E62;
$act3: #9F6838;
$act4: #D19484;
$act5: #F6B19E;
$act6: #F6B6A3;
$act7: #F8B8A5;

$bg: #F0F4F4;

$gray1: #999999;
$gray2: #D9D9D9;
$gray3: #A4A4A4;


/*Styles*/
$font-family: 'GothamPro', sans-serif;
$font-family2: 'Muller', sans-serif;
